<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="clock-element">
  <template>
    <style>
      div { width: 300px;}
      clock-element { font: bold 16px cursive;}
      .circle {
        display: inline-block;
        box-sizing: border-box;
        width: 100px;
        height: 100px;
        margin: 16px;
        border-radius: 50%;
        background: var(--color-one);
      }
    </style>
    <div class="circle">1</div>

  </template>
  <script>
    Polymer({
      is: 'clock-element'
    });
  </script>
</dom-module>
